################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/x64/Debug
/server/x64/Debug
/x64/Debug/*.exe
/x64/Debug/*.pdb
/.vs
/x64/Debug/shared/*
/client/x64/Release
/server/x64/Release
